@model KohviAutomaat.Models.kohvimasin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>kohvimasin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jooginimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jooginimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Täitepakis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Täitepakis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topsejuua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topsejuua)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
